* {
    box-sizing: border-box;
 }

 body {
    font-family: sans-serif;
 }

 .flex-container-column {
    display: flex;
    flex-direction: column;
  
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
 }

 .flex-container-row {
    display: flex;
 }

 .button {
    flex-basis: 25%;
   
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
 }

 .double {
   flex-basis: 50%;
}

.display {
   color: #333333;
   width: 100%;
   padding: 10px 20px;
   background-color: #ECEFFC;
   border: 1px solid black;
   font-size: 4em;
}

.operator,
.negative {
   background: #BEE7FF;
}

.equals {
   background: #D0E3FC
   
}

.angka {
   background: #F6F7FC;
}

.clear {
   background: #C6EDD1;
}

.display,
.operator,
.negative,
.equals,
.angka,
.clear {
   border-radius: 8px;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 30px;
   margin-top: 20px;
}

.button:hover {
   font-weight: bold;
   box-shadow: 0px 8px 25px;
   transition: all 250ms ease-in-out;
   
}

@media screen and (max-width: 513px) {
   .button {
       padding: 10px;
   }
}